<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll App</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<header>

</header>
<body>

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li></li><strong><a href="/polls/{{question.id}}/">{{question.question_text}}</a></strong></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

</ul>

</body>
<footer>

</footer>
</html>